body {
  padding: 40px;
  font: 20px "Didot", "Bodoni MT", "Times New Roman", serif;
  background-color: #dcb490 !important; 
  letter-spacing: 0.5px;
}

a {
  color: #00B7FF;
}

img {
  width: 100%; /* или max-width: 100%; */
  height: auto; /* сохраняем пропорции */
  max-width: 600px; /* устанавливаем максимальную ширину */
  }

h4, p {

  font-weight: 400;
  letter-spacing: 2px;
  text-align: justify;}